<nav>
  <div class="up">
    <div class="content">
      <img src="./img/logo.png" alt="Logo" width="300" height="55"/>
      <form>
        <input type="text" id="search" name="search" placeholder="Buscar pelicula" />
        <button type="button" id="btn_cartelera" name="button">VER CARTELERA</button>
      </form>
    </div>
  </div>
  <div class="down">
    <div class="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/estrenos">Estrenos</a></li>
        <li><a href="/preventas">Preventas</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/iniciar-sesion">Iniciar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
